In [1]:
import plotly.plotly as py
import cufflinks as cf
import pandas as pd
import numpy as np
from plotly.graph_objs import *

In [2]:
df = pd.read_csv('data/msa_analyzed.csv')
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [4]:
for i in df.index:
    temp = df['MSA Name'][i].split(',')
    df.loc[i,'MSA Name'] = temp[0].split('-')[0]+', '+temp[1].split()[0]

In [4]:
df['Ptotal'] = df['Total']-df['Industrial']-df['Electricity Prod']

In [5]:
trace1 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Industrial'].tolist(),
        name='Industrial'
    )
trace2 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Electricity Prod'].tolist(),
        name='Electricity Production'
    )
trace3 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Ptotal'].tolist(),
        name='Others'
    )

data = [trace1,trace2,trace3]

layout = Layout(
    title='MSAs with least per capita carbon emissions',
    yaxis=YAxis(title='Per capita carbon emissions (tons/person)'),
    barmode='stack'
)

fig = Figure(data=data, layout=layout)

py.iplot(fig, filename='Least MSAs')

In [6]:
df = df.sort(['Total'],ascending=False)

In [7]:
trace1 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Industrial'].tolist(),
        name='Industrial'
    )
trace2 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Electricity Prod'].tolist(),
        name='Electricity Production'
    )
trace3 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Ptotal'].tolist(),
        name='Others'
    )

data = [trace1,trace2,trace3]

layout = Layout(
    title='MSAs with most per capita carbon emissions',
    yaxis=YAxis(title='Per capita carbon emissions (tons/person)'),
    barmode='stack'
)

fig = Figure(data=data, layout=layout)

py.iplot(fig, filename='Most MSAs')

In [6]:
df = df.sort(['POP2000'],ascending=False)
df.head(10)

,Total,Commercial,Industrial,Residential,Electricity Prod,Onroad,Cement,Aircraft,Airborne,Nonroad,POP2000,ALAND10,MSA Code,MSA Name,Density,POPlog,Totlog,Dlog
22,2.407797,0.267478,0.062540,0.526058,0.493625,0.859972,0.000000,0.029102,0.073154,0.095868,18944519,21481.919090,35620,"New York, NY-NJ-PA",881.882057,7.277484,0.381620,2.945411
12,2.154786,0.043950,0.435135,0.202748,0.192595,1.013999,0.000000,0.046903,0.117899,0.101556,12365627,12557.430730,31100,"Los Angeles, CA",984.725878,7.092216,0.333404,2.993315
225,5.267402,0.297917,1.265312,0.586536,1.463000,1.079102,0.000000,0.127316,0.320031,0.128187,9098316,18639.638970,16980,"Chicago, IL-IN-WI",488.116536,6.958961,0.721596,2.688524
86,3.082175,0.304719,0.518272,0.511665,0.464981,1.059529,0.000000,0.034789,0.087448,0.100773,5687147,11919.387230,37980,"Philadelphia, PA-NJ-DE-MD",477.134176,6.754894,0.488857,2.678641
98,3.175412,0.228501,0.375614,0.169591,0.463891,1.354111,0.160405,0.074368,0.186938,0.161992,5161544,23122.123420,19100,"Dallas, TX",223.229671,6.712780,0.501800,2.348752
30,2.543012,0.054800,0.254771,0.035435,0.572940,1.204436,0.070448,0.059688,0.150037,0.140456,5007564,13150.053280,33100,"Miami, FL",380.801803,6.699627,0.405348,2.580699
132,3.631378,0.224571,0.194456,0.353612,1.216181,1.330886,0.007450,0.049505,0.124439,0.130278,4796183,14499.580790,47900,"Washington, DC-VA-MD-WV",330.780804,6.680896,0.560071,2.519540
258,7.048771,0.204488,2.845313,0.146019,2.165567,1.318271,0.000000,0.058591,0.147279,0.163244,4715407,22863.087520,26420,"Houston, TX",206.245416,6.673519,0.848113,2.314384
202,4.614912,0.239553,0.559649,0.634208,1.501981,1.382186,0.000000,0.053571,0.134661,0.109103,4452557,10070.921770,19820,"Detroit, MI",442.120106,6.648609,0.664163,2.645540
103,3.231976,0.292195,0.505312,0.682576,0.424602,1.071666,0.000000,0.041933,0.105406,0.108286,4391344,9032.348482,14460,"Boston, MA-NH",486.179647,6.642597,0.509468,2.686797

In [7]:
trace1 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Industrial'].tolist(),
        name='Industrial'
    )
trace2 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Electricity Prod'].tolist(),
        name='Electricity Production'
    )
trace3 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Total'].tolist(),
        name='Others'
    )

#data = [trace1,trace2,trace3]
data = [trace3]

layout = Layout(
    title='Per capita carbon emissions vs Most populous MSAs',
    yaxis=YAxis(title='Per capita carbon emissions (tons/person)'),
    barmode='stack'
)

fig = Figure(data=data, layout=layout)

py.iplot(fig, filename='Most populous MSAs')

In [14]:
df = df.sort(['POP2000'])
df.head(10)

,Total,Commercial,Industrial,Residential,Electricity Prod,Onroad,Cement,Aircraft,Airborne,Nonroad,POP2000,ALAND10,MSA Code,MSA Name,Density,POPlog,Totlog,Dlog,Ptotal
150,3.805734,0.223738,1.473867,0.477148,0.000000,1.304254,0,0.033889,0.085187,0.207651,101541,1433.810709,29020,"Kokomo, IN",70.818972,5.006641,0.580438,1.850150,2.331868
57,2.792020,0.256775,0.575865,0.363562,0.000000,1.177999,0,0.053050,0.133350,0.231418,101677,7665.271805,26820,"Idaho Falls, ID",13.264631,5.007223,0.445918,1.122695,2.216155
84,3.044257,0.441649,0.442323,0.511720,0.000000,1.501378,0,0.016155,0.040610,0.090423,102008,1947.638700,19060,"Cumberland, MD-WV",52.375217,5.008634,0.483481,1.719126,2.601934
249,6.560672,0.313092,0.016297,0.523088,3.817787,1.243711,0,0.062261,0.156504,0.427930,102326,651.187425,36140,"Ocean City, NJ",157.137555,5.009986,0.816948,2.196280,2.726588
120,3.413882,0.379969,0.177677,0.612762,0.001560,1.469783,0,0.163279,0.410432,0.198421,102720,4735.682658,30860,"Logan, UT-ID",21.690643,5.011655,0.533248,1.336272,3.234645
302,13.690719,0.268852,10.608833,0.333537,0.070221,1.754540,0,0.135977,0.341804,0.176955,102979,4483.794950,34580,"Mount Vernon, WA",22.966929,5.012749,1.136426,1.361103,3.011665
211,4.793644,0.126705,1.858962,0.277428,0.015395,1.954512,0,0.064720,0.162686,0.333236,102997,2753.098886,49020,"Winchester, VA-WV",37.411297,5.012825,0.680666,1.573003,2.919287
170,4.083936,0.104319,0.156034,0.235289,1.778262,1.628883,0,0.027055,0.068008,0.086085,103459,1385.618994,23460,"Gadsden, AL",74.666269,5.014768,0.611079,1.873124,2.149640
82,3.025382,0.379107,0.283703,0.829976,0.000016,1.188443,0,0.066828,0.167983,0.109325,103793,1211.926439,30340,"Lewiston, ME",85.642987,5.016168,0.480780,1.932692,2.741663
133,3.640805,0.230810,0.929069,0.587875,0.034409,1.290945,0,0.097566,0.245251,0.224881,103833,1752.271023,28100,"Kankakee, IL",59.256244,5.016335,0.561197,1.772734,2.677328

In [15]:
trace1 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Industrial'].tolist(),
        name='Industrial'
    )
trace2 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Electricity Prod'].tolist(),
        name='Electricity Production'
    )
trace3 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Ptotal'].tolist(),
        name='Others'
    )

data = [trace1,trace2,trace3]

layout = Layout(
    title='Per capita carbon emissions vs Least populous MSAs',
    yaxis=YAxis(title='Per capita carbon emissions (tons/person)'),
    barmode='stack'
)

fig = Figure(data=data, layout=layout)

py.iplot(fig, filename='Least populous MSAs')

In [8]:
df = df.sort(['Density'],ascending=False)
trace1 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Industrial'].tolist(),
        name='Industrial'
    )
trace2 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Electricity Prod'].tolist(),
        name='Electricity Production'
    )
trace3 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Total'].tolist(),
        name='Others'
    )

#data = [trace1,trace2,trace3]
data = [trace3]

layout = Layout(
    title='Per capita carbon emissions vs Most dense MSAs',
    yaxis=YAxis(title='Per capita carbon emissions (tons/person)'),
    barmode='stack'
)

fig = Figure(data=data, layout=layout)

py.iplot(fig, filename='Most dense MSAs')

In [17]:
df = df.sort(['Density'])
trace1 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Industrial'].tolist(),
        name='Industrial'
    )
trace2 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Electricity Prod'].tolist(),
        name='Electricity Production'
    )
trace3 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Ptotal'].tolist(),
        name='Others'
    )

data = [trace1,trace2,trace3]

layout = Layout(
    title='Per capita carbon emissions vs Least dense MSAs',
    yaxis=YAxis(title='Per capita carbon emissions (tons/person)'),
    barmode='stack'
)

fig = Figure(data=data, layout=layout)

py.iplot(fig, filename='Least dense MSAs')

In [18]:
df = df.sort(['Total'],ascending=False)
trace1 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Total'].tolist(),
        name='Per capita carbon emissions'
    )
trace2 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['POPlog'].tolist(),
        name='Population (log10)'
    )
trace3 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Dlog'].tolist(),
        name='Density (log10)'
    )

data = [trace1,trace2,trace3]

layout = Layout(
    title='MSAs with most per capita carbon emissions',
    yaxis=YAxis(title='Per capita carbon emissions (tons/person)'),
    barmode='group'
)

fig = Figure(data=data, layout=layout)

py.iplot(fig, filename='Most MSAs +')

In [19]:
df = df.sort(['Total'])
trace1 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Total'].tolist(),
        name='Per capita carbon emissions'
    )
trace2 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['POPlog'].tolist(),
        name='Population (log10)'
    )
trace3 = Bar(
        x=df.head(10)['MSA Name'].tolist(),
        y=df.head(10)['Dlog'].tolist(),
        name='Density (log10)'
    )

data = [trace1,trace2,trace3]

layout = Layout(
    title='MSAs with least per capita carbon emissions',
    yaxis=YAxis(title='Per capita carbon emissions (tons/person)'),
    barmode='group'
)

fig = Figure(data=data, layout=layout)

py.iplot(fig, filename='Least MSAs +')

In [4]:
print 'Mean of population: %.2f' % (np.mean(df['POP2000']))
print 'Mean of density: %.2f' % (np.mean(df['Density']))
print 'Median of population: %.2f' % (np.median(df['POP2000']))
print 'Median of population: %.2f' % (np.median(df['Density']))

Mean of population: 691318.50
Mean of density: 107.57
Median of population: 249700.00
Median of population: 71.53

In [4]:
medt = np.median(df['Total'])
np.mean(df[df['Total']<medt])

Total                    3.033724
Commercial               0.215886
Industrial               0.429273
Residential              0.345059
Electricity Prod         0.228205
Onroad                   1.412499
Cement                   0.022177
Aircraft                 0.062055
Airborne                 0.157705
Nonroad                  0.160864
POP2000             818012.018072
ALAND10               6429.458191
MSA Code             30791.566265
Density                123.666959
POPlog                   5.537610
Totlog                   0.474036
Dlog                     1.914150
dtype: float64

In [8]:
print 'Mean of population for less emission areas: %.2f' % (np.mean(df[df['Total']<medt]['POP2000']))
print 'Mean of population for less emission areas: %.2f' % (np.mean(df[df['Total']<medt]['Density']))
print 'Median of population for less emission areas: %.2f' % (np.median(df[df['Total']<medt]['POP2000']))
print 'Median of density for less emission areas: %.2f' % (np.median(df[df['Total']<medt]['Density']))

Mean of population for less emission areas: 818012.02
Mean of population for less emission areas: 123.67
Median of population for less emission areas: 264441.00
Median of density for less emission areas: 85.62

In [13]:
trace1 = Bar(
        x=['Population Mean (log10)','Population Median (log10)','Density Mean (log10)','Density Median (log10)'],
        y=[np.mean(df['POPlog']),np.median(df['POPlog']),
          np.mean(df['Dlog']),np.median(df['Dlog'])],
        name='All MSAs'
    )
trace2 = Bar(
        x=['Population Mean (log10)','Population Median (log10)','Density Mean (log10)','Density Median (log10)'],
        y=[np.mean(df[df['Total']<medt]['POPlog']),np.median(df[df['Total']<medt]['POPlog']),
          np.mean(df[df['Total']<medt]['Dlog']),np.median(df[df['Total']<medt]['Dlog'])],
        name='MSAs w/ less emissions'
    )

data = [trace1,trace2]

layout = Layout(
    title='MSAs with less per capita carbon emissions vs all MSAs',
    yaxis=YAxis(title='Population and population density'),
    barmode='group'
)

fig = Figure(data=data, layout=layout)

py.iplot(fig, filename='Mean and median')

In [8]:
trace1 = Bar(
        x=['Population Mean','Population Median'],
        y=[np.mean(df['POP2000']),np.median(df['POP2000'])],
        name='All MSAs'
    )
trace2 = Bar(
        x=['Population Mean','Population Median'],
        y=[np.mean(df[df['Total']<medt]['POP2000']),np.median(df[df['Total']<medt]['POP2000'])],
        name='MSAs w/ less emissions'
    )

data = [trace1,trace2]

layout = Layout(
    title='MSAs with less per capita carbon emissions vs all MSAs',
    yaxis=YAxis(title='Population'),
    barmode='group'
)

fig = Figure(data=data, layout=layout)

py.iplot(fig, filename='Popoulation mean and median')

In [9]:
trace1 = Bar(
        x=['Density Mean','Density Median'],
        y=[np.mean(df['Density']),np.median(df['Density'])],
        name='All MSAs'
    )
trace2 = Bar(
        x=['Density Mean','Density Median'],
        y=[np.mean(df[df['Total']<medt]['Density']),np.median(df[df['Total']<medt]['Density'])],
        name='MSAs w/ less emissions'
    )

data = [trace1,trace2]

layout = Layout(
    title='MSAs with less per capita carbon emissions vs all MSAs',
    yaxis=YAxis(title='Population density (persons/km^2)'),
    barmode='group'
)

fig = Figure(data=data, layout=layout)

py.iplot(fig, filename='Density mean and median')